[tool.poetry]
name = "authenticator-helper"
version = "0.1.0"
description = "Yubico Authenticator Helper"
authors = ["Dain Nilsson <dain@yubico.com>"]
packages = [
  { include = "helper" },
]


[tool.poetry.dependencies]
python = "^3.8"
yubikey-manager = "5.1.0"
mss = "^8.0.3"
zxing-cpp = "^2.0.0"
Pillow = "^9.5.0"

[tool.poetry.dev-dependencies]
pyinstaller = {version = "^5.12.0", python = "<3.12"}
pytest = "^7.3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["tests"]
