[tool.poetry]
name = "authenticator-helper"
version = "0.1.0"
description = "Yubico Authenticator Helper"
authors = ["Dain Nilsson <dain@yubico.com>"]
packages = [
  { include = "helper" },
]


[tool.poetry.dependencies]
python = "^3.8"
yubikey-manager = "5.0.1"
mss = "^8.0.2"
zxing-cpp = "^2.0.0"
Pillow = "^9.1.1"

[tool.poetry.dev-dependencies]
pyinstaller = {version = "^5.9", python = "<3.12"}
pytest = "^7.2.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["tests"]
