[tool.poetry]
name = "authenticator-helper"
version = "0.1.0"
description = "Yubico Authenticator Helper"
authors = ["Dain Nilsson <dain@yubico.com>"]
packages = [
  { include = "helper" },
]


[tool.poetry.dependencies]
python = "^3.8"
yubikey-manager = "5.2.0"
mss = "^9.0.1"
zxing-cpp = [
  {git = "https://github.com/zxing-cpp/zxing-cpp.git", rev="18a722a", subdirectory = "wrappers/python", markers = "sys_platform != 'win32'"},
  {path = "zxing_cpp-2.1.0-cp312-cp312-win_amd64.whl", markers = "sys_platform == 'win32'"}
]
Pillow = "^10.0.0"

[tool.poetry.dev-dependencies]
pyinstaller = {version = "^6.0", python = "<3.13"}
pytest = "^7.4.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["tests"]
