[tool.poetry]
name = "authenticator-helper"
version = "0.1.0"
description = "Yubico Authenticator Helper"
authors = ["Dain Nilsson <dain@yubico.com>"]
packages = [
  { include = "helper" },
]


[tool.poetry.dependencies]
python = "^3.8"
yubikey-manager = "5.0.0-rc.1"
fido2 = "^1.0"
mss = "^6.1.0"
zxing-cpp = "^1.3.0"
Pillow = "^9.1.1"

[tool.poetry.dev-dependencies]
pyinstaller = {version = "^5.1", python = "<3.11"}
pytest = "^7.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["tests"]
