[submodule "vendor/qt-solutions"]
	path = ykman-gui/vendor/qt-solutions
	url = https://github.com/qtproject/qt-solutions
[submodule "vendor/yubikey-manager"]
	path = vendor/yubikey-manager
	url = https://github.com/Yubico/yubikey-manager.git
[submodule "vendor/pyotherside"]
	path = vendor/pyotherside
	url = https://github.com/thp/pyotherside.git
