*/release/
.vagrant/
__pycache__/
dist/
lib/
yubioath-desktop.app/
/vagrant/*/*.log

*.autosave
*.dll
*.o
*.qrc
*.rc
*.ts
*.user
.qmake.stash
.ropeproject

Makefile*
moc_*.cpp
moc_*.h
qrc_*.cpp
/yubioath-desktop
