# .travis.yml

# Building, testing and deployment on OS X and Linux

# Reference: https://docs.travis-ci.com/user/customizing-the-build

language: cpp
sudo: required

env:
  - PY_VERSION="3.6.5" PYOTHERSIDE_VERSION="1.5.3"

os:
  - osx
  - linux

# Mojave
osx_image: xcode10.2

services:
  - docker

install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]
    then
      ./.travis/build-macos
      sudo pip3 install --upgrade pip
      sudo pip3 install pre-commit flake8
    fi

before_script:
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]
    then
        pre-commit run --all-files
    fi

script:
  - |
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]
    then
      docker build -t xenial-deb -f docker/xenial-deb/Dockerfile .
      docker build -t xenial-appimage -f docker/xenial-appimage/Dockerfile .
    fi

after_success:
  - mkdir deploy/
  # Extract all user facing strings and create a textfile with them for deployment.
  - lupdate yubioath-desktop.pro -ts yubioath-desktop.ts
  - cp yubioath-desktop.ts deploy/yubioath-desktop-$TRAVIS_BRANCH-strings.xml
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]
    then
      # Rename app bundle
      mv yubioath-desktop.app Yubico\ Authenticator.app
      # Copy .app to deploy dir
      tar -czf yubioath-desktop-$TRAVIS_BRANCH.app.tar.gz Yubico\ Authenticator.app
      mv yubioath-desktop-$TRAVIS_BRANCH.app.tar.gz deploy
    fi
  - |
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]
    then
      id=$(docker create xenial-deb)
      docker start --attach $id
      docker cp $id:/yubioath-desktop-debian-packages.tar.gz deploy/yubioath-desktop-$TRAVIS_BRANCH-deb.tar.gz
      id=$(docker create --privileged xenial-appimage)
      docker start --attach $id
      docker cp $id:/yubioath-desktop/Yubico_Authenticator-x86_64.AppImage deploy/yubioath-desktop-$TRAVIS_BRANCH.AppImage
    fi

deploy:
  provider: s3
  access_key_id: "$AWS_KEY_ID"
  secret_access_key: "$AWS_SECRET_KEY"
  bucket: "$AWS_BUCKET"
  skip_cleanup: true
  acl: public-read
  region: eu-west-1
  local-dir: "deploy/"
  upload-dir: "yubioath-desktop"
  on:
    all_branches: true
