[Desktop Entry]
Name=Yubico Authenticator
GenericName=Yubico Authenticator 
Comment=Graphical interface for generating TOTP & HOTP codes
Exec=yubicoauthenticator
Icon=yubicoauthenticator
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;
