[Desktop Entry]
Name=Yubico Authenticator
GenericName=Yubico Authenticator
Exec="@EXEC_PATH/authenticator"
Icon=@EXEC_PATH/linux_support/com.yubico.yubioath.png
Type=Application
Categories=Utility;
Keywords=Yubico;Authenticator;
