name: Linux

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04
      env:
        DEBIAN_FRONTEND: noninteractive

    steps:
    - uses: actions/checkout@v5
      with:
        sparse-checkout: .github/workflows/env

    - name: Read variables from repo
      run: |
        export $(cat .github/workflows/env)
        cat .github/workflows/env >> $GITHUB_ENV
        echo CACHE_KEY=${{ runner.os }}-py$PYVER-${{ hashFiles('build-helper.sh', 'helper/**')}} >> $GITHUB_ENV

    - name: Install dependencies
      run: |
        apt-get update
        apt-get install -qq curl software-properties-common libnotify-dev libayatana-appindicator3-dev patchelf
        add-apt-repository -y ppa:git-core/ppa
        apt-get install -qq git
        git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install Python
      run: |
        uv python install $PYVER

    - name: Check app versions
      run: |
        uv run python set-version.py
        git diff --exit-code

    - name: Cache helper
      id: cache-helper
      uses: actions/cache@v4
      with:
        path: |
          build/linux/helper
          assets/licenses/helper.json
        key: ${{ env.CACHE_KEY }}

    - name: Build the Helper
      if: steps.cache-helper.outputs.cache-hit != 'true'
      run: |
        apt-get install -qq swig libpcsclite-dev build-essential cmake
        ./build-helper.sh

    - name: Install Flutter dependencies
      run: |
        apt-get install -qq clang cmake ninja-build pkg-config libgtk-3-dev jq

    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: ${{ env.FLUTTER }}

    - name: Configure Flutter
      run: |
        git config --global --add safe.directory $FLUTTER_ROOT
        flutter config --enable-linux-desktop
        flutter --version
        flutter pub get

    - name: Run lints/tests
      env:
        SKIP: ${{ steps.cache-helper.outputs.cache-hit == 'true' && 'mypy,ruff check,ruff format' || ''}}
      run: |
        uvx pre-commit run --all-files
        flutter test

    - name: Build the app
      run: flutter build linux

    - name: Check generated files
      run: git diff --exit-code

    - name: Embedd appindicator
      run: |
        patchelf --set-rpath '$ORIGIN' build/linux/x64/release/bundle/lib/libtray_manager_plugin.so
        cp -L /usr/lib/x86_64-linux-gnu/libayatana-appindicator3.so.1 build/linux/x64/release/bundle/lib/
        patchelf --set-rpath '$ORIGIN' build/linux/x64/release/bundle/lib/libayatana-appindicator3.so.1
        cp -L /usr/lib/x86_64-linux-gnu/libayatana-indicator3.so.7 build/linux/x64/release/bundle/lib/
        patchelf --set-rpath '$ORIGIN' build/linux/x64/release/bundle/lib/libayatana-indicator3.so.7
        cp -L /usr/lib/x86_64-linux-gnu/libdbusmenu-glib.so.4 build/linux/x64/release/bundle/lib/
        patchelf --set-rpath '$ORIGIN' build/linux/x64/release/bundle/lib/libdbusmenu-glib.so.4
        cp -L /usr/lib/x86_64-linux-gnu/libdbusmenu-gtk3.so.4 build/linux/x64/release/bundle/lib/
        patchelf --set-rpath '$ORIGIN' build/linux/x64/release/bundle/lib/libdbusmenu-gtk3.so.4

    - name: Rename and archive app
      run: |
        export REF=$(echo ${GITHUB_REF} | cut -d '/' -f 3)
        export BASENAME="yubioath-desktop-${REF}-linux"
        mkdir deploy
        mv build/linux/x64/release/bundle "build/${BASENAME}"
        tar -czf deploy/${BASENAME}.tar.gz -C build "${BASENAME}"

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: yubioath-desktop-linux
        path: deploy
